# Dependencias
node_modules/
.claude/
design-system
# Build output
dist/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Variables de entorno
.env
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache de Vercel
.vercel/
